<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>847331421929-u53tk5kkbm7bv99qjteff5qdqqghgqkm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.847331421929-u53tk5kkbm7bv99qjteff5qdqqghgqkm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>847331421929-9nu12sih4atfdvu6g5v5u3n3nm6e2ts4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAhT6CBs5LSi0mMW3K1_4QphL9YYwwhjgw</string>
	<key>GCM_SENDER_ID</key>
	<string>847331421929</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cartisan.app</string>
	<key>PROJECT_ID</key>
	<string>cartisan-production</string>
	<key>STORAGE_BUCKET</key>
	<string>cartisan-production.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:847331421929:ios:2984005b88f71f2f360a78</string>
</dict>
</plist>